test-support.json
[
    {
        "id": "c88780e902ab4ace",
        "type": "comment",
        "z": "c7e82c436b7f4a90",
        "name": "global Error Reporting and Dispatching",
        "info": "",
        "x": 170,
        "y": 40,
        "wires": []
    },
    {
        "id": "ca599453c3629ec7",
        "type": "inject",
        "z": "c7e82c436b7f4a90",
        "name": "run Tests",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "5daf528cd463b24b"
            ]
        ]
    },
    {
        "id": "5daf528cd463b24b",
        "type": "function",
        "z": "c7e82c436b7f4a90",
        "name": "reset totals",
        "func": "flow.set('Totals',0)\n\nmsg.TestMode = '-'\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 100,
        "wires": [
            [
                "c0b928f9b26c4ff6",
                "5d74f4597b8d25a3"
            ]
        ]
    },
    {
        "id": "c0b928f9b26c4ff6",
        "type": "function",
        "z": "c7e82c436b7f4a90",
        "name": "Status",
        "func": "switch (true) {\n  case (msg.topic === '-'):\n    node.status({})\n    break\n  case (flow.get('Totals') === 0):\n    node.status({fill:'green',shape:'dot',text:'ok'})\n    break\n  default:\n    node.status({fill:'red',shape:'dot',text:'failed'})\n}\n",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 100,
        "wires": []
    },
    {
        "id": "5d74f4597b8d25a3",
        "type": "function",
        "z": "c7e82c436b7f4a90",
        "name": "dispatch",
        "func": "if (context.get('pendingList') == null) { // first invocation\n  msg.TestMode = 'multiple-tests'\n\n  let MsgList = [null], pendingList = []\n  for (let i = 1, l = node.outputCount; i < l; i++) {\n    MsgList.push(null)\n    pendingList.push(i)\n  }\n  context.set('MsgList',MsgList)\n  context.set('pendingList',pendingList)\n}\n\nlet pendingList = context.get('pendingList')\nif (pendingList.length === 0) { // all tests completed\n  context.set('pendingList',null)\n  return [msg]\n} else { // ongoing tests\n  let msg = {} // create new, empty \"msg\" object\n\n  let chosenIndex  = Math.floor(Math.random()*pendingList.length)\n  let chosenOutput = pendingList.splice(chosenIndex,1)[0]\n\n  context.set('pendingList',pendingList)\n\n  let MsgList = context.get('MsgList').slice()\n    MsgList[chosenOutput] = msg\n  return MsgList\n}\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 160,
        "wires": [
            [
                "c0b928f9b26c4ff6"
            ],
            [
                "4164063bdc4e6b50"
            ],
            [
                "78c4e5b1ee42b68f"
            ]
        ]
    },
    {
        "id": "7982af33033d0378",
        "type": "link in",
        "z": "c7e82c436b7f4a90",
        "name": "dto. with Components",
        "links": [
            "3e4e48c3387e14ea",
            "55b2f51540ecf622"
        ],
        "x": 35,
        "y": 160,
        "wires": [
            [
                "5d74f4597b8d25a3"
            ]
        ]
    },
    {
        "id": "cf0b3aba8bba4ad7",
        "type": "function",
        "z": "c7e82c436b7f4a90",
        "name": "report",
        "func": "if (msg.TestMode === 'show-error') {\n  node.error(context.get('failed-msg') || '(no failure)')\n//return msg // do NOT pass injected message\n} else {\n  if (msg.error == null) {\n    context.set('failed-msg',null)\n    node.status({fill:'green',shape:'dot',text:'ok'})\n  } else {\n    let failedMsg = Object.assign({},RED.util.cloneMessage(msg))\n    context.set('failed-msg',failedMsg)\n    node.status({fill:'red',shape:'dot',text:'failed'})\n    \n    let Totals = flow.get('Totals')\n    flow.set('Totals', typeof Totals === 'number' ? Totals + 1 : 1)\n  }\n  \n  if (msg.TestMode === 'single-test') {\n    return null\n  } else {\n    return msg\n  }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 220,
        "wires": [
            [
                "3e4e48c3387e14ea"
            ]
        ]
    },
    {
        "id": "d94229258b442b88",
        "type": "inject",
        "z": "c7e82c436b7f4a90",
        "name": " test",
        "props": [
            {
                "p": "TestMode",
                "v": "single-test",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "4164063bdc4e6b50"
            ]
        ]
    },
    {
        "id": "3c9ce73cf08cca04",
        "type": "inject",
        "z": "c7e82c436b7f4a90",
        "name": " test",
        "props": [
            {
                "p": "TestMode",
                "v": "single-test",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 90,
        "y": 300,
        "wires": [
            [
                "78c4e5b1ee42b68f"
            ]
        ]
    },
    {
        "id": "3e4e48c3387e14ea",
        "type": "link out",
        "z": "c7e82c436b7f4a90",
        "name": "",
        "links": [
            "7982af33033d0378"
        ],
        "x": 555,
        "y": 220,
        "wires": []
    },
    {
        "id": "78a151d2bb3ac572",
        "type": "function",
        "z": "c7e82c436b7f4a90",
        "name": "report",
        "func": "if (msg.TestMode === 'show-error') {\n  node.error(context.get('failed-msg') || '(no failure)')\n//return msg // do NOT pass injected message\n} else {\n  if (msg.error == null) {\n    context.set('failed-msg',null)\n    node.status({fill:'green',shape:'dot',text:'ok'})\n  } else {\n    let failedMsg = Object.assign({},RED.util.cloneMessage(msg))\n    context.set('failed-msg',failedMsg)\n    node.status({fill:'red',shape:'dot',text:'failed'})\n    \n    let Totals = flow.get('Totals')\n    flow.set('Totals', typeof Totals === 'number' ? Totals + 1 : 1)\n  }\n  \n  if (msg.TestMode === 'single-test') {\n    return null\n  } else {\n    return msg\n  }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 300,
        "wires": [
            [
                "55b2f51540ecf622"
            ]
        ]
    },
    {
        "id": "55b2f51540ecf622",
        "type": "link out",
        "z": "c7e82c436b7f4a90",
        "name": "",
        "links": [
            "7982af33033d0378"
        ],
        "x": 555,
        "y": 300,
        "wires": []
    },
    {
        "id": "1a6d63ff1c782dd7",
        "type": "inject",
        "z": "c7e82c436b7f4a90",
        "name": "show",
        "props": [
            {
                "p": "TestMode",
                "v": "show-error",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 350,
        "y": 240,
        "wires": [
            [
                "cf0b3aba8bba4ad7"
            ]
        ]
    },
    {
        "id": "c87804d286bdce3f",
        "type": "inject",
        "z": "c7e82c436b7f4a90",
        "name": "show",
        "props": [
            {
                "p": "TestMode",
                "v": "show-error",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 350,
        "y": 320,
        "wires": [
            [
                "78a151d2bb3ac572"
            ]
        ]
    },
    {
        "id": "bbf7379401546fc9",
        "type": "comment",
        "z": "c7e82c436b7f4a90",
        "name": "single-step Test",
        "info": "",
        "x": 100,
        "y": 380,
        "wires": []
    },
    {
        "id": "c101fe164754e75b",
        "type": "comment",
        "z": "c7e82c436b7f4a90",
        "name": "multi-step Test",
        "info": "",
        "x": 100,
        "y": 540,
        "wires": []
    },
    {
        "id": "8e088af265fca927",
        "type": "function",
        "z": "c7e82c436b7f4a90",
        "name": "test",
        "func": "node.warn('single-step Test')\n\nif (Math.random() >= 0.5) {\n  throw new Error('Test failed')\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 440,
        "wires": [
            [
                "441dd5ca68352cf9"
            ]
        ]
    },
    {
        "id": "4f588c6ff460b7e0",
        "type": "catch",
        "z": "c7e82c436b7f4a90",
        "name": "",
        "scope": [
            "8e088af265fca927"
        ],
        "uncaught": false,
        "x": 210,
        "y": 480,
        "wires": [
            [
                "441dd5ca68352cf9"
            ]
        ]
    },
    {
        "id": "984054c96f053ab2",
        "type": "function",
        "z": "c7e82c436b7f4a90",
        "name": "step #1",
        "func": "node.warn('multi-step Test')\n\nif (Math.random() >= 0.5) {\n  throw new Error('failure in step #1')\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 600,
        "wires": [
            [
                "8a16a27534fbfbd8"
            ]
        ]
    },
    {
        "id": "8a16a27534fbfbd8",
        "type": "function",
        "z": "c7e82c436b7f4a90",
        "name": "step #2",
        "func": "if (Math.random() >= 0.5) {\n  throw new Error('failure in step #2')\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 600,
        "wires": [
            [
                "d295bd1ec017c9b1"
            ]
        ]
    },
    {
        "id": "0abff9b31dd6f608",
        "type": "catch",
        "z": "c7e82c436b7f4a90",
        "name": "",
        "scope": [
            "984054c96f053ab2",
            "8a16a27534fbfbd8"
        ],
        "uncaught": false,
        "x": 210,
        "y": 640,
        "wires": [
            [
                "d295bd1ec017c9b1"
            ]
        ]
    },
    {
        "id": "6365d21bb1232fe4",
        "type": "reusable-in",
        "z": "c7e82c436b7f4a90",
        "name": "#1",
        "info": "describe your reusable flow here",
        "scope": "local",
        "x": 70,
        "y": 440,
        "wires": [
            [
                "8e088af265fca927"
            ]
        ]
    },
    {
        "id": "441dd5ca68352cf9",
        "type": "reusable-out",
        "z": "c7e82c436b7f4a90",
        "name": "return",
        "position": 1,
        "x": 350,
        "y": 440,
        "wires": []
    },
    {
        "id": "fd915aa4ed3ce40c",
        "type": "reusable-in",
        "z": "c7e82c436b7f4a90",
        "name": "#2",
        "info": "describe your reusable flow here",
        "scope": "local",
        "x": 70,
        "y": 600,
        "wires": [
            [
                "984054c96f053ab2"
            ]
        ]
    },
    {
        "id": "d295bd1ec017c9b1",
        "type": "reusable-out",
        "z": "c7e82c436b7f4a90",
        "name": "return",
        "position": 1,
        "x": 530,
        "y": 600,
        "wires": []
    },
    {
        "id": "4164063bdc4e6b50",
        "type": "reusable",
        "z": "c7e82c436b7f4a90",
        "name": "",
        "target": "#1",
        "outputs": 1,
        "x": 210,
        "y": 220,
        "wires": [
            [
                "cf0b3aba8bba4ad7"
            ]
        ]
    },
    {
        "id": "78c4e5b1ee42b68f",
        "type": "reusable",
        "z": "c7e82c436b7f4a90",
        "name": "",
        "target": "#2",
        "outputs": 1,
        "x": 210,
        "y": 300,
        "wires": [
            [
                "78a151d2bb3ac572"
            ]
        ]
    }
]